<%- include('../partial/head') %>

    <%- include('../partial/sidebar') %>

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <!-- row -->
            <div class="container-fluid">
                <div class="page-titles">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
                        <li class="breadcrumb-item active"><a href="/admin/role-player">Files</a></li>
                    </ol>
                </div>




                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><a href="https://eeeuicon2021.fra1.digitaloceanspaces.com/Literature%20Review-%20Dr%20Adenowo.pdf">Literature Review- Dr Adenowo</a></li>
                                    <li class="list-group-item"><a href="https://eeeuicon2021.fra1.digitaloceanspaces.com/You%20and%20Your%20PhD%20Research_Modiifed.pdf">You and Your PhD Research_Modiifed</a></li>
                                    <li class="list-group-item"><a href="https://eeeuicon2021.fra1.digitaloceanspaces.com/Tips%20on%20M.Phil%20and%20PhD%20Abstract%20Prof%20Oladosu.pdf">Tips on M.Phil and PhD Abstract Prof Oladosu</a></li>
                                    <li class="list-group-item"><a href="https://eeeuicon2021.fra1.digitaloceanspaces.com/Research%20to%20startup%20%20-%20Dr%20Ibrahim%20infopack.zip">Research to startup  - Dr Ibrahim infopack</a></li>
                                    <li class="list-group-item"><a href="https://eeeuicon2021.fra1.digitaloceanspaces.com/Women%20and%20Sustainable%20Development%20Engr%20Ajagun.pdf">Women and Sustainable Development Engr Ajagun</a></li>
                                    <li class="list-group-item"><a href="https://eeeuicon2021.fra1.digitaloceanspaces.com/UI%20conference.pdf">UI Conference</a></li>
                                </ul>
                                 
                            </div>
                        </div>
                        
                    </div>

                </div>
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        <%- include('../partial/footer') %>