<%- include('../partial/head') %>

    <%- include('../partial/sidebar') %>

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <!-- row -->
            <div class="container-fluid">
                <div class="page-titles">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
                        <li class="breadcrumb-item active"><a href="/admin/role-player">Role Player</a></li>
                    </ol>

                    <h5><a href="#" data-toggle="modal" data-target="#createRp" class="btn btn-primary mt-5"><i
                                class="fa fa-pencil"></i>Add Files</a></h5>
                </div>




                <div class="row">
                    <div class="col-lg-12">
                        <ul>
                            <li><a href="https://iceece-amf2021.nyc3.digitaloceanspaces.com/LECTURE%20OUTLINE%20FOR%20PIO%20302%20%20STAT%20AUGUST%202021.docx">LECTURE OUTLINE FOR PIO 302  STAT AUGUST 2021</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        <%- include('../partial/footer') %>