<form action="/admin/payment-confirmation" method="post">
    <label for="mode">Mode of Payment</label>
    <select name="mode" id="mode">
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
    </select>
    <label for="">Amount</label>
    <input type="number">
    <label for="proof">Proof of Payment</label>
    <input type="image" src="" alt="">
</form>