<form action="/admin/create" method="post">
    <input type="text" name="email" id="">
    <input type="text" name="Username" id="">
    <select name="role" id="">
        <option value="admin">Admin</option>
        <option value="admin">Reveiwer</option>
        <option value="admin">User</option>
    </select>
    <button type="submit">Create</button>
</form>