<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Mode of Payment</th>
            <th>Amount</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>