<!--**********************************
            Sidebar start
        ***********************************-->
<div class="deznav">
    <div class="deznav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="flaticon-381-networking"></i>
                    <span class="nav-text">ICEECE</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/profile">Profile</a></li>
                </ul>
            </li>
            <% if (User.role == "Super Admin" ) { %>
                <li>
                    <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                        <i class="flaticon-381-networking"></i>
                        <span class="nav-text">Role Players</span>
                    </a>
                    <ul aria-expanded="false">

                        <li><a href="/admin/role-player">View Role Player</a></li>
                    </ul>
                </li>
                <% } %>
                    <% if (User.role == "Super Admin" || User.role == "Program Manager" ) { %>
                        <li>
                            <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                                <i class="flaticon-381-networking"></i>
                                <span class="nav-text">Conference Data</span>
                            </a>
                            <ul aria-expanded="false">
                                <% if (User.role =="Super Admin" || User.role =="Program Manager" ) { %>
                                    <li><a href="/admin/participants">Participants</a></li>
                                    <li><a href="/admin/speakers">Speakers</a></li>
                                    <li><a href="/admin/presenters">Presenters</a></li>
                                    <li><a href="/admin/attendance">Attendance</a></li>
                                    <% } %>
                                        <% if (User.role =="Super Admin" ) { %>
                                            <li><a href="/admin/role-player">Role Players</a></li>
                                            <li><a href="/admin/payments">Payments</a></li>
                                            <li><a href="#">Material Receipt</a></li>
                                            <% } %>
                                <% if (User.role == "Reviewer") {%>
                                    <li><a href="/admin/participants">Participants</a></li>
                                
                                    
                                <%} %> 

                            </ul>
                        </li>
                        <% } %>

                            <li>
                                <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                                    <i class="flaticon-381-networking"></i>
                                    <span class="nav-text">Session</span>
                                </a>
                                <ul aria-expanded="false">
                                    <li><a href="/session">Sessions</a></li>
                                    <% if (User.role =="Super Admin" || User.role =="Program Manager" ) { %>
                                        <li><a href="/admin/speakers">Speakers</a></li>
                                        <li><a href="/admin/presenters">Presenters</a></li>
                                        <% } %>

                                            <% if (User.role =="Speaker" || User.role =="Presenter" ) { %>
                                                <li><a href="#">Your Session</a></li>
                                                <li><a href="/session">Other Sessions</a></li>
                                                <% } %>
                                </ul>
                            </li>
                            <li>
                                <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                                    <i class="flaticon-381-networking"></i>
                                    <span class="nav-text">Live</span>
                                </a>
                                <ul aria-expanded="false">
                                    <% if (User.role =="Super Admin" || User.role =="Program Manager" ) { %>
                                        <li><a href="#">Go Live</a></li>
                                        <% } %>

                                </ul>
                            </li>
                            <% if (User.role =="Super Admin" || User.role =="Presenter" ) { %>
                                <li>
                                    <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                                        <i class="flaticon-381-networking"></i>
                                        <span class="nav-text">Submissions</span>
                                    </a>
                                    <% if (User.role =="Super Admin" ) { %>
                                        <ul aria-expanded="false">
                                            <li><a href="/submitPaper">Paper Submissions</a></li>
                                            <li><a href="/">Reviewers</a></li>
                                        </ul>
                                        <% } %>
                                            <% if (User.role =="Presenter" ) { %>
                                                <li><a href="/submitPaper">Paper Submissions</a></li>
                                                <% } %>

                                </li>
                                <% } %>
                                    <% if (User.role =="Super Admin" || User.role =="Program Manager" ||
                                            User.role =="Protocol Officer" ) { %>
                                        <li>
                                            <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                                                <i class="flaticon-381-networking"></i>
                                                <span class="nav-text">Attendance</span>
                                            </a>
                                            <ul aria-expanded="false">
                                                <li><a href="/mark-attendance">Take Attendance</a></li>
                                            </ul>
                                        </li>
                                        <% } %>

                                            <li>
                                                <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                                                    <i class="flaticon-381-networking"></i>
                                                    <span class="nav-text">Payments</span>
                                                </a>

                                                <ul aria-expanded="false">
                                                    <% if (User.role =="Super Admin" || User.role =="Sales Manager" )
                                                            { %>
                                                        <li><a href="/user/payment-confirmation">Request
                                                                    Approval</a></li>
                                                        <li><a href="/admin/payments">Approved Requests</a>
                                                        </li>
                                                        <% } %>
                                                            <% if (User.role =="Participant" || User.role =="Presenter" ) {
                                                                    %>
                                                                <li><a href="/user/payment-confirmation">Request
                                                                            Approval</a></li>
                                                                <% } %>

                                                </ul>
                                            </li>
                                            <li>
                                                <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                                                    <i class="flaticon-381-networking"></i>
                                                    <span class="nav-text">Others</span>
                                                </a>
                                                <ul aria-expanded="false">
                                                    <li><a href="/">Conference Materials</a></li>
                                                    <li><a href="/profile">Profile</a></li>
                                                    <li><a href="/contacts">Contacts</a></li>
                                                </ul>
                                            </li>

        </ul>

    </div>
</div>
<!--**********************************
                Sidebar end
            ***********************************-->